/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

    header {
        font-size:1.75em;
        color:gold;
        background-color:#333;
        height:50px;
        font-family: Arial;
        text-align: center;
    }

    h1 {
        font-weight: bold;
        padding: 10px 0;
        color: #ffff00;
        font-size: 1.30em;
    }

    h2 {
        font-weight: bold;
        padding: 20px 0;
        text-align: center;
        font-size: 1.35em;
    }

    figure {
        text-align: center;
    }

    figcaption {
        display: none;
    }

    p.legenda {
        text-align: center;
        font-size: 1.2em;
        font-family: Arial;
        padding: 3px;
    }

    .lobo {
        width: 200px;
        border: 1px dashed #333;
    }

    body {
        background-color: #eee;
    }

    section.section-lobo {
        background-color: #bab3bb;
        border: solid;
        border-width: 2px;
        border-color: #6200ff;
        border-radius: 4%;
        margin-bottom: 5px;
        height: 300px;
    }

    section.tabelademembros {
        background-color: #ced0f0;
        border-radius: 4%;
        padding-bottom: 20px;
        margin-bottom: 5px;
    }

    section.tabelademembros table {
        border: solid;
        border-width: 1px;
        margin-right: auto;
        margin-left: auto;
    }

    section.tabelademembros table th, td {
        padding: 5px;
        border: solid;
        border-width: 1px;
    }

    section.listas {
        background-color: #ced0f0;
        border-radius: 4%;
        margin-bottom: 5px;
        padding-bottom: 9px;
    }

    section.listas ul{
        text-align: center;
    }

    section.listas ul li{
        margin: 15px;
        display: inline-block;
        left: auto;
        right: auto;
    }

    section.listas ul li a{
        text-decoration: none;
        background-color: #ced5ff;
        padding: 7px;
        margin: 2px;
        margin-bottom: 50px;
        color: black;
    }

    section.listas ul li a:hover {
        background-color: #eeeeff;
        color: blue;
    }

    section.formulario {
        background-color: #ced0f0;
        border-radius: 4%;
        margin-bottom: 5px;
        padding: 7px;
        padding-bottom: 10px;
    }

    div.area {
        position: relative;
        left: 41%;
        width: 220px;
        height: 270px;
        border: solid;
        border-width: 1px;
        padding: 10px;
        background-color: #cfddf0;
    }

    div.sobremim {
        position: relative;
        height: 80px;
        width: 200px;
    }

    div.sobremim label {
        position: absolute;
        top: 2px;
        left: 39%;
        text-align: center;
    }

    div.sobremim textarea {
        position: absolute;
        top: 21px;
        width: 210px;
    }

    form.form {
        position: absolute;
        display:block;
    }

    div.pc {
        top: 5% ;
        text-align: center;
    }

    div.musica {
        margin-bottom: 5px;
        text-align: center;
    }

    div.botaoenviar {
        text-align: center;
    }